/agus/UT3/TA6/UT3_TA6/nbproject/private/
/agus/UT3/Estructura Hash Trie Completa/build/
/eli/PreParcial 1/build/
/PreparacionParcial1/target/
/bruno/ut2/Tareas Domiciliarias Ut2/UT2_PD6/build/
/eli/UT1/Domiciliarios/Ejercicio1/build/
/pd6/UT2_PD6/build/