/agus/UT3/TA6/UT3_TA6/nbproject/private/
/agus/UT3/Estructura Hash Trie Completa/build/
/eli/PreParcial 1/build/
/PreparacionParcial1/target/
/bruno/ut2/Tareas Domiciliarias Ut2/UT2_PD6/build/
/eli/UT1/Domiciliarios/Ejercicio1/build/
/pd6/UT2_PD6/build/
/PreparacionParcialUT1/target/
/PreparacionParcial1UT3/target/
/eli/Trabajos de aplicacion Grupo 16 y 17/TareasAplicacion/build/
/bruno/ut2/Tareas Domiciliarias Ut2/ArbolGenerico/build/
/PreparacionParcial1TAS/nbproject/
/PreparacionParcial1TAS/target/
/TemasOK/build/
/TemasOK/dist/
/TemasOK/nbproject/private/
/diego b/Parcial1-PARTE 3/Parcial1-2018/build/
/diego b/Parcial1-PARTE 3/Parcial1-2018/dist/
/diego b/Parcial1-PARTE 3/Parcial1-2018/nbproject/private/
/agus/UT2/TA2/TA2Ej2/build/
/agus/UT3/TA6/UT3_TA6/build/
/bruno/Parcial1/Parcial1-2018/build/
/bruno/Parcial1Equipos/Parcial1-2018/build/
/eli/Parcial1-2017/build/
/agus/UT3/Estructura Hash Completa/build/
/Estructura Hash Completa/build/
/Estructura Hash Completa/nbproject/private/
/Estructura Hash Trie Completa/build/
/Estructura Hash Trie Completa/nbproject/private/
/PredictorTrie/nbproject/private/
/PredictorTrieADN/nbproject/private/
/PreParcial 1/build/
/PreParcial 1/nbproject/private/
/Parcial1-2016 ANDA/nbproject/private/
/Parcial2017/nbproject/private/
/PredictorTrieADN/build/
/PreparacionParcial1UT2/target/
/Parcial2017/build/